.card-title-link {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s, text-decoration 0.2s;
}

.card-title-link:hover {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}
